/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height:100%;
}
.video-iframe h4 {
    text-align: center;
    color: black;
}
.video {
    display: flex;
    justify-content: center;
}
.product__des::before{
    content: "10%";
    background:#FF00FF;
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}
.product__des{
    border:1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* estilo de productos */
.container__product{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
}
.product{
    border:1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product::before{
    content: "New";
    background:#FF00FF;
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;

}
.product__img{
    object-fit: cover;
    
}

.product__title{
    text-align: center;
}
.product__price{
    color: #031650;
    font-weight: bold;
}
.product__icon{
    display:block;
    text-align: center;
    color:#031650;
    margin-top: 18px;

} 
.block__container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.sidebar {
    padding: 2rem;
}
.sidebar__top__icons {
    display: flex;
    justify-content: center;
}
.main {
    padding: 2rem;
}
.main__medios {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}